<div class="vh-100 bg-black">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <img
        src="../../assets/img/Logo_ESPE.png"
        width="80"
        alt="Logo"
        class="logo"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="dashboard"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="dashboard"
              >Noticias</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <h1 class="text-center text-light">Alertar</h1>
        <p class="text-light">
          Connect and live more safely. Citizen is a personal safety network
          that empowers you to protect yourself and the people and places you
          care about. Download for access to real-time 911 alerts, instant help
          from crisis responders, and safety tracking for friends and families.
        </p>
      </div>
      <div class="col d-flex justify-content-center align-items-center my-5">
        <video
          src="https://citizen-site.cdn.prismic.io/citizen-site/1f68bf93-5d6c-444e-b920-c0c67ff26963_silent-sizzle-v07D.mp4"
          playsinline=""
          loop=""
          autoplay=""
          class="Phone__PhoneVideo-sc-1ajsie4-2 etjCCe"
          style="width: 40%; height: 80; border-radius: 20px"
        ></video>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">¿Qué es Alertar?</h1>
        <p class="text-center">
          Alertar es una aplicación que permite a los usuarios reportar
          incidentes de seguridad en tiempo real, de manera que las autoridades
          puedan tomar las medidas necesarias para evitar que se repitan.
        </p>
      </div>
    </div>
  </div>
</div> -->
